<%- include("partials/header.ejs"); -%>

<div class="container" id="imageAndtext">
      <img src="6.png" id="frontimg" alt="" >
      <h4 id="h4-intro"><%= introContent %></h4>
  </div>

<%- include("partials/footer.ejs"); -%>
